.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 16px;
  max-width: 480px;
  width: 100%;
  min-height: 320px;
  background-color: rgba(
    rgb(255, 255, 255),
    rgb(170, 170, 170),
    rgb(138, 138, 194),
    0.4
  );
}
