.mainApp {
  border-radius: 3px;
  margin: 48px auto;
  height: 100vh;
  width: 96%;
  /* box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1); */
  opacity: 1;
}
/* @media screen and (min-width: 600px) {
  width: 88%;
}
@media screen and (min-width: 1024px) {
  width: 70%;
} */
/* .mainApp.in-focus {
  box-shadow: -48px 48px 48px 0px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out;
  transform: translate(0, 0) scale(1);
  opacity: 1;
} */
