.hTool {
  background: #f1f1f1;
  color: rgb(83, 83, 83);
  border-left: 6px solid #1fc1ad;
  padding: 6px;
}

.ulTool {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  border-radius: 2px;
}

.liTool {
  height: 6vh;
  line-height: 6vh;
  width: 300px;
  vertical-align: top;
  background: #444444;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin-bottom: 24px;
  margin-right: 1%;
  border-radius: 2px;
  cursor: pointer;
  border-left: 6px solid #444444;
  transition: all 250ms ease-in-out;
}
.liTool:hover {
  border-left: 6px solid #1fc1ad;
  transition: all 250ms ease-in-out;
}
@media (min-width: 320px) and (max-width: 640px) {
  .ulTool {
    padding-top: 20px;
  }
}
