/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body {
  background: #e6e4e7;
  font-family: 'Arimo', sans-serif;
  color: #444;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 12px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  text-decoration: none;
  font-family: inherit;
}

.matherlandSvg-enter {
  opacity: 0.01;
}

.matherlandSvg-enter.matherlandSvg-enter-active {
  opacity: 1;
  transition: opacity 6s ease-in;
}

.matherlandSvg-leave {
  opacity: 1;
}

.matherlandSvg-leave.matherlandSvg-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
